body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #FFF;
  font-family: arial;
}

.row {
  margin-top: 3em;
  width: 98%;
}

.username {
  color: #990033 !important;
}

#roomid {
  color: #666633 !important;
}

.cuser {
  color: #999;
  margin-bottom: 9px;
}

.ouser {
  color: #fff;
}

.hidden {
  display: none;
}