{% extends 'layout.html' %}

{% block title %} Room #{{data.id}} {% parent %} {% endblock %}
{% block head %}
    {% parent %}
    <link rel="stylesheet" href="/bower_components/sweetalert/dist/sweetalert.css">
    <link rel="stylesheet" href="/bower_components/simplemde/dist/simplemde.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
{% endblock %}

{% block content %}

<ul id="slide-out" class="side-nav">
    <li><a href="#!"><i class="material-icons">info</i><b>Room #{{data.id}}</b></a></li>
    <li><br/></li>
    <li><a href="#!"><i class="material-icons">perm_identity</i>{{ data.user }}</a></li>
    <!--use mode_edit for the last editing user-->
</ul>
  

<div class="row">
    <div class="col s12 m10 offset-m1">
        <p class="cuser">
            <a href='/'>Home</a>
            | <a href="#" data-activates="slide-out" id="collapse-users" class="button-collapse">Users</a>
            | Note #<span id="roomid">{{ data.id }} </span>
        </p>
        <span id="acceptme" class="username">Waiting to be accepted...</span>
        <span id="welcomemsg" class="cuser hidden">Hello, <span class="username"> {{ data.user }}!</span> Nice to see you
        here.</span>
        <br>
        <textarea class="col s12 m12 l12" id="editor"></textarea>
    </div>
    <div class="col s12 m10 offset-m1">
        <span class="cuser">Did you know that you can send this note to an user? Just click <a href="#" id="copyBtn">here</a> to copy the link; then send the it to anybody you want - it's that simple.</span>
    </div>
</div>

<span id="user" class="hidden">{{ data.user }}</span>
<span id="room" class="hidden">{{ data.id }}</span>
<span class="hidden"><textarea class="js-copytextarea"></textarea></span> {% endblock %} {% block footer %} {% parent %}
<!--Import script for this page-->
<script src="/bower_components/sweetalert/dist/sweetalert.min.js"></script>
<script src="/bower_components/simplemde/dist/simplemde.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/code.js"></script>
{% endblock %}