<!DOCTYPE html>
<html lang="en">

<!--================================================================================
    Name:  Main html template for Collaborative MD
	Version: 0.0.1
	Author: Marian FX
	Author URL: http://marianfx.github.io
================================================================================ -->

<head>
  <!-- Metadata fro the browser(s) -->
  <!-- Viewport mobile tag for sensible mobile support -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>
    {% block title %} - Collaborative MD {% endblock %}
  </title>

  <!-- Favicons-->
  <link rel="icon" href="/favicon.ico">

  {% block head %}
  <!--STYLES-->
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/bower_components/materialize/dist/css/materialize.min.css">
  <!--STYLES END-->
  {% endblock %}


</head>

<body>

  {% block content %}{% endblock %}
  
  {% block footer %}
  <!--SCRIPTS-->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/materialize/dist/js/materialize.min.js"></script>
  <!--SCRIPTS END-->
  {% endblock %}
</body>

</html>
