{% extends 'layout.html' %}

{% block title %} Enter the void {% parent %}{% endblock %}

{% block head %}
	{% parent %}
	<link type="text/css" rel="stylesheet" href="/stylesheets/rooms.css">
{% endblock %}

{% block content %}
    <div id="login-page" class="row">
	<div class="col s12 z-depth-4 card-panel">
		<form id="loginForm" class="login-form">

			<div class="row">
				<div class="input-field col s12 center">
						<img src="favicon.png" alt="" class="circle responsive-img valign profile-image-login">
						<p class="center login-form-text">Enter the void</p>
				</div>
			</div>

			<div class="row margin">
			  <div class="input-field col s12">
						<i class="material-icons prefix">perm_identity</i>
						<label for="userTB">Username</label>
						<input id="userTB" name="userTB" type="text" data-error=".errorTxt1">
            			<div class="errorTxt1 righted"></div>
			  </div>
			</div>

			<div class="row margin">
			  <div class="input-field col s12">
						<i class="material-icons prefix">lock</i>
						<label for="passTB">Room ID</label>
						<input id="passTB" name="passTB" type="text" data-error=".errorTxt2">
            			<div class="errorTxt2 righted"></div>
			  </div>
			</div>

			<div class="row">
				<div class="input-field  col s12">
						<a id="submitBtn" class="btn waves-effect waves-light col s12 red darken-2">ENTER</a>
				</div>
				<div class="input-field  col s12">
						<a id="rndmBtn" class="btn waves-effect waves-light col s12 cyan darken-2">Create Random Room</a>
				</div>
				<div class="input-field col s12">
					<p class="margin center medium-small sign-up">If the room does not exist, it will be created.
					</p>
				</div>
			</div>
	</form>
</div>
{% endblock %}

{% block footer %}
	{% parent %}
	<!--Import script for this page-->
    <script src="/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/bower_components/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="/javascripts/rooms.js"></script>
{% endblock %}
